h1 {
	font-size: calc(1.3rem + .6vw);
}

time {
	font-weight: bold;
}

.card {
	margin-bottom: 1rem;
	padding: 10px;
	border-radius: 20px;
}

table {
	margin-bottom: 0;
}

caption {
	caption-side: top;
	padding-left: 0;
}

[data-result='win'] {
	--result-color-rgb: var(--bs-success-rgb, 25,135,84);
}

[data-result='loss'] {
	--result-color-rgb: var(--bs-danger-rgb, 220,53,69);
}

[data-result='draw'] {
	--result-color-rgb: var(--bs-primary-rgb, 13,110,253);
}

#fixtures .card {
	margin-bottom: 0.25rem;
	box-shadow: inset 6px -4px 2px 0px rgb(var(--result-color-rgb));
}

#fixtures .badge {
	background-color: rgb(var(--result-color-rgb));
	margin-right: 0.5rem;
	text-decoration: none;
}

#fixtures a:hover {
	color: var(--text-color);
	text-decoration: underline;
}

#players, #results {
	overflow-x: auto;
}

#players th:nth-child(n+2),
#players td:nth-child(n+2):not(:nth-child(6))
{
	text-align: center;
}

#players td:nth-child(3)
{
	font-family: var(--bs-font-monospace);
}

#players td span {
	visibility: hidden;
}

#players a {
	color: var(--text-color);
	text-decoration: none;
}

#players a:hover {
	color: var(--text-color);
	text-decoration: underline;
}



#results th:nth-child(n+2):not(:nth-child(3)):not(:nth-child(6))
{
	text-align: center;
}

#results td:nth-child(2),
#results td:nth-child(4),
#results td:nth-child(5),
#results td:nth-child(7) {
	text-align: center;
}

#results tr {
	background-color: rgba(var(--result-color-rgb), .5);
}

#results span {
	visibility: hidden;
}

#results a {
	color: var(--text-color);
	text-decoration: none;
}

#results a:hover {
	color: var(--text-color);
	text-decoration: underline;
}

