h1 {
	font-size: calc(1.3rem + .6vw);
}

time {
	font-weight: bold;
}

.card {
	margin-bottom: 1rem;
	padding: 10px;
	border-radius: 20px;
	max-width: 51em;
	--result-color-rgb: 77,42,245;
}

[data-result='postponed'] {
	--result-color-rgb: var(--bs-warning-rgb, 255,193,7);
}

.pom {
	font-weight: bold;
}

#fixtures {
	.card {
		margin-bottom: 0.25rem;
		box-shadow: inset 6px -4px 2px 0px rgb(var(--result-color-rgb));
	}

	.badge {
		background-color: rgb(var(--result-color-rgb));
		margin-right: 0.5rem;
		text-decoration: none;
		color: white;
	}

	a {
		color: var(--text-color);
		text-decoration: none;

		&:hover {
			color: var(--text-color);
			text-decoration: underline;
		}
	}

	.postponed {
		color: black;
	}
}
