h1 {
	font-size: calc(1.3rem + .6vw);
}

time {
	font-weight: bold;
}

.card {
	margin-bottom: 1rem;
	padding: 10px;
	border-radius: 20px;
	max-width: 51em;
	--result-color-rgb: 77,42,245;
	--result-home-color-rgb: 77,42,245;
	--result-away-color-rgb: 77,42,245;
}

[data-result='postponed'] {
	--result-home-color-rgb: var(--bs-warning-rgb, 255,193,7);
	--result-away-color-rgb: var(--bs-warning-rgb, 255,193,7);
}

.pom {
	font-weight: bold;
}

#fixtures {
	.card {
		margin-bottom: 0.25rem;
		box-shadow: inset 6px -4px 2px 0px rgb(var(--result-color-rgb));
	}

	.badge {
		margin-right: 0.5rem;
		text-decoration: none;
		color: white;
		width: 3rem;

		[data-result='home-win'] & {
			--result-home-color-rgb: var(--bs-success-rgb, 25,135,84);
			--result-away-color-rgb: var(--bs-danger-rgb, 220,53,69);
		}

		[data-result='away-win'] & {
			--result-away-color-rgb: var(--bs-success-rgb, 25,135,84);
			--result-home-color-rgb: var(--bs-danger-rgb, 220,53,69);
		}

		[data-result='draw'] & {
			--result-home-color-rgb: var(--result-color-rgb);
			--result-away-color-rgb: var(--result-color-rgb);
		}

		background: linear-gradient(
			90deg,
			rgb(var(--result-home-color-rgb)) 0%,
			rgb(var(--result-home-color-rgb)) 50%,
			rgb(var(--result-away-color-rgb)) 50%,
			rgb(var(--result-away-color-rgb)) 100%
		);
	}

	a {
		color: var(--text-color);
		text-decoration: none;

		&:hover {
			color: var(--text-color);
			text-decoration: underline;
		}
	}

	.postponed {
		color: black;
	}
}
