h1 {
	text-align: center;
	color: red;
}

::deep table {
	max-width: 90%;
}

/* formatting to simulate ttclubs on desktop */

::deep h3 {
	font-weight: 700;
	font-size: 2.1em;
	margin-top: 35px;
	margin-bottom: 14px;
	letter-spacing: 1px;
}

::deep table {
	border-collapse: collapse;

}
	::deep table th + th, ::deep table td + td {
		border-left: 2px solid #ddd;
	}

	::deep table td, ::deep table th {
		padding: 0.75em 0.75em;
	}

	::deep table th {
		text-transform: none;
		text-align: center;
	}

	::deep table caption {
		font-weight: 700;
		text-align: center;
	}

 /* ******************************* */
