h1 {
	text-align: center;
	color: red;

	& span {
		white-space: nowrap;
	}
}

h2 {
	margin-top: 2rem;
	text-align: left;
	color: blue;

	@media (prefers-color-scheme: dark) {
		color: dodgerblue;
	}
}

h3 {
	margin-top: 1rem;
}

p {
	margin: 0 0;
	padding: 0 0;
}

::deep .scores {
	white-space: nowrap;
}

::deep .player {
	font-weight: 700;
}

::deep [data-result='winner'] {
	color: green;
	@media (prefers-color-scheme: dark) {
		color: limegreen;
	}
}

::deep [data-result='loser'] {
	color: indianred;
	@media (prefers-color-scheme: dark) {
		color: indianred;
	}
}

::deep .premier-points {
	color: darkcyan;
	@media (prefers-color-scheme: dark) {
		color: gold;
	}
}

table tr td:last-child {
	text-align: right;
}