<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">@Program.SiteName</a><span id="version-info" title="@VersionInfo"><i class="fa fas fa-info-circle"></i></span>
	</div>
</div>

<input type="checkbox" title="Navigation menu" id="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('#navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="LeagueSummary/Reading">
				<span class="bi bi-table" aria-hidden="true"></span> Reading League
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Recent/Reading">
				<span class="bi bi-clock-fill" aria-hidden="true"></span> Reading recent
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="TeamSummary/Reading/Our Lady Of Peace B">
				<span class="emoji">🏓</span> OLOP B
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="TeamSummary/Reading/Our Lady Of Peace F">
				<span class="emoji">🏓</span> OLOP F
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Calendar/Reading/Our Lady Of Peace B?command=json">
				<span class="bi bi-calendar3" aria-hidden="true"></span> OLOP B
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Calendar/Reading/Our Lady Of Peace F?command=json">
				<span class="bi bi-calendar3" aria-hidden="true"></span> OLOP F
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="LeagueSummary/BracknellAndWokingham">
				<span class="bi bi-table" aria-hidden="true"></span> Bracknell League
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="LeagueSummary/Maidenhead">
				<span class="bi bi-table" aria-hidden="true"></span> Maidenhead League
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="maidenheadtest1">
				<span class="emoji">🤔</span> Maidenhead Tests
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private string VersionInfo => $"{Program.Name}: {Program.ProductVersion}{Environment.NewLine}{Program.SmabTTInfoName}: {Program.SmabTTInfoVersion}";
}
