.division {
	overflow-x: auto;

	table {
		max-width: 50em;

		td {
			white-space: nowrap;
		}

		th:nth-child(1),
		th:nth-child(n+3) {
			text-align: center;
			width: 3em;
		}

		td:nth-child(1),
		td:nth-child(n+3) {
			text-align: right;
			padding-right: 0.5em;
			width: 3em;
		}

		td:last-child {
			font-weight: bold;
		}
	}
}

a {
	color: var(--text-color);
	text-decoration: none;

	&:hover,
	&:active {
		color: var(--text-color);
		text-decoration: underline;
	}
}

