dd a {
	color: var(--text-color);
	text-decoration: none;
}

	dd a:hover, table a:active {
		color: var(--text-color);
		text-decoration: underline;
	}

select {
	color: var(--text-color);
	background-color: var(--bg-color);
}

pre {
	width: calc(100dvw - 280px);
	overflow: auto;
	border: solid;
	border-width: 1px;
}
