h1 {
	font-size: calc(1.3rem + .6vw);
}

time {
	font-weight: bold;

	span.start-time-not-default {
		color: var(--bs-warning);
	}
}

.card {
	margin-bottom: 1rem;
	padding: 10px;
	border-radius: 20px;
	max-width: 51em;
}

[data-result='win'] {
	--result-color-rgb: var(--bs-success-rgb, 25,135,84);
}

[data-result='loss'] {
	--result-color-rgb: var(--bs-danger-rgb, 220,53,69);
}

[data-result='draw'] {
	--result-color-rgb: var(--bs-primary-rgb, 13,110,253);
}

.pom {
	font-weight: bold;
}

table {
	margin-bottom: 0;
	max-width: 50em;
}

td {
	white-space: nowrap;
}

caption {
	caption-side: top;
	padding-left: 0;
}

#fixtures {
	.card {
		margin-bottom: 0.25rem;
		box-shadow: inset 6px -4px 2px 0px rgb(var(--result-color-rgb));
	}

	.badge {
		background-color: rgb(var(--result-color-rgb));
		margin-right: 0.5rem;
		text-decoration: none;
		width: 3rem;
	}

	a {
		color: var(--text-color);
		text-decoration: none;

		&:hover {
			color: var(--text-color);
			text-decoration: underline;
		}
	}

	.postponed {
		background-color: rgb(var(--bs-warning-rgb, 255,193,7));
		color: black;
		cursor: help;
	}

	.venue {
		display: inline-block;
		float: right;
		text-align: right;
	}
}

#players {
	text-align: center;
	overflow-x: auto;

	h3 {
		text-align: left;
		margin-top: 0.3em;
	}

	th:first-child,
	th:last-child,
	td:first-child,
	td:last-child {
		text-align: left;
	}

	td span {
		visibility: hidden;
	}

	a {
		color: var(--text-color);
		text-decoration: none;

		&:hover,
		&:active {
			color: var(--text-color);
			text-decoration: underline;
		}
	}
}

#results {
	text-align: center;
	overflow-x: auto;

	h3 {
		text-align: left;
		margin-top: 0.5em;
	}

	th:first-child,
	th:last-child,
	td:first-child,
	td:last-child {
		text-align: left;
	}

	tr td {
		background-color: rgba(var(--result-color-rgb), .5);
	}

	span {
		visibility: hidden;
	}

	a {
		color: var(--text-color);
		text-decoration: none;

		&:hover,
		&:active {
			color: var(--text-color);
			text-decoration: underline;
		}
	}
}

#division {
	margin-top: 0.5em;
	overflow-x: auto;
}
