article {
	--ttinfo-base-font-size: 10pt;
	--ttinfo-h1-font-size: 20pt;
	--ttinfo-h2-font-size: 14pt;
	--ttinfo-h3-font-size: 18pt;
	--ttinfo-shading-colour: var(--ttinfo-override-shading-colour, #f5f5f5);
	--ttinfo-edit-colour: var(--ttinfo-override-edit-colour, #fff);
	--ttinfo-text-colour: var(--ttinfo-override-text-colour, #000);
	--ttinfo-thin-border: 0.1mm solid var(--ttinfo-text-colour);
	--ttinfo-very-thin-border: 0.05mm solid var(--ttinfo-text-colour);
	--ttinfo-double-border: 0.8mm double var(--ttinfo-text-colour);
	font-family: Arial, sans-serif;
}

::deep .control-panel {
	color: var(--ttinfo-text-colour);
	margin: 10px 0;
	border-bottom: 2px dotted color-mix(in srgb, var(--ttinfo-text-colour) 80%, white);

	input {
		margin-left: 5px;
	}

		input[type="number"] {
			width: 3rem;
		}

	label {
		margin-left: 15px;
	}

	@media print {
		display: none;
	}
}

.page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media print {
		width: 100vw;
		height: 100vh;
	}
}

.score-sheet {
	font-size: var(--ttinfo-base-font-size);
	font-weight: bold;
	max-width: 190mm;
	margin: auto auto;
	padding: 4mm;
	background-color: var(--ttinfo-shading-colour);
	color: var(--ttinfo-text-colour);
	line-height: 1;

	&.bordered {
		border: var(--ttinfo-thin-border);
	}

	@media print {
		max-width: 140mm;
	}
}

header {
	text-align: center;
	margin-bottom: 2mm;

	h1 {
		font-size: var(--ttinfo-h1-font-size);
		font-weight: bold;
		margin: 0;
	}

	h2 {
		font-size: var(--ttinfo-h2-font-size);
		font-weight: bold;
		margin: 0;
	}

	h3 {
		font-size: var(--ttinfo-h3-font-size);
		font-weight: bold;
		margin: 0;
	}
}

.dots {
	flex: 1;
	border-bottom: 0.1mm solid var(--ttinfo-text-colour);
	min-width: 0;
	height: 1em;
	margin: 0;
}

.main-content {
	display: flex;
	gap: 5mm;
}

.main-panel {
	flex: 1;

	& > p {
		font-weight: normal;
		padding: 0.5rem 2mm;
		margin: 0;
	}
}

.top-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow-x: clip;
	margin-bottom: 2mm;
	padding: 0 3mm;

	div > span {
		margin-right: 2mm;
	}

	span.dots {
		padding-right: 98%;
	}

	.score-box {
		aspect-ratio: 1/1;
		height: 13mm;
		background-color: var(--ttinfo-edit-colour);
		border: 0.5mm solid var(--ttinfo-text-colour);
	}

	.fixture-info {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		width: 100%;
		margin: 2mm;

		div:first-child {
			display: flex;

			span {
				margin-right: auto;
				margin-bottom: 2mm;
			}
		}
	}
}

table {
	width: 98%;
	vertical-align: middle;
	border-collapse: collapse;
	border-spacing: 0;

	td {
		text-align: center;
	}
}

.fixture-info-table {
	th,
	td {
		border: var(--ttinfo-very-thin-border);
		padding: 1.3mm 2mm;
		text-align: right;
		box-sizing: border-box;

		&:first-child,
		&:nth-child(3) {
			width: 21mm;
		}
	}

	td {
		background-color: var(--ttinfo-edit-colour);
	}
}

.players-table {
	th,
	td {
		border: var(--ttinfo-very-thin-border);
		padding: 1.3mm 1mm;
		text-align: center;
		box-sizing: border-box;
	}

	thead th {
		font-weight: normal;

		&:first-child,
		&:nth-child(3),
		&:nth-child(4),
		&:last-child {
			width: 8mm;
		}
	}

	tbody {
		td:nth-child(n+2):nth-child(-n+3),
		td:nth-child(n+5):nth-child(-n+6) {
			background-color: var(--ttinfo-edit-colour);
		}
	}
}

.matches-table {
	th,
	td {
		border: var(--ttinfo-very-thin-border);
		padding: 1mm 0;
		text-align: center;
		box-sizing: border-box;
	}

	thead th {
		font-weight: normal;
		width: 21mm;

		tr:last-child > & {
			width: 6mm;
		}
	}

	tbody {
		td:nth-child(n+2):nth-child(-n+10),
		td[data-match='v'] {
			background-color: var(--ttinfo-edit-colour);
		}

		tr:nth-child(3n+1) {
			border-top: solid var(--ttinfo-text-colour);
		}
	}

	tfoot td {
		font-weight: bold;
		width: 21mm;
		border-top: solid var(--ttinfo-text-colour);

		&:first-child {
			text-align: right;
			padding-right: 3mm;
			border-left: none;
			border-bottom: none;
		}

		&:nth-last-child(-n+2) {
			background-color: var(--ttinfo-edit-colour);
			border: solid var(--ttinfo-text-colour);
			width: 6mm;
		}
	}
}

.signature-section {
	display: flex;
	flex-direction: column;

	.signature-line {
		text-align: center;
		display: flex;
		justify-content: space-between;
		font-weight: normal;
		gap: 20mm;
		margin-top: 3mm;
	}

	.signature-labels {
		display: flex;
		justify-content: space-between;
		padding: 2mm 2mm;
		font-weight: bold;
	}
}

.mid-break {
	margin: 0 7mm;
	border-left: 2px dashed color-mix(in srgb, var(--ttinfo-text-colour) 20%, white);

	@media print {
		margin: 0 7mm;
		border-left: 0.12mm dashed color-mix(in srgb, var(--ttinfo-text-colour) 20%, white);
	}
}

.page-break {
	page-break-after: always;
	margin: 7mm 0;
	border-top: 2px dotted color-mix(in srgb, var(--ttinfo-text-colour) 80%, white);

	@media print {
		margin: 0;
		border-top: none;
	}
}

/* Visible to screen readers, invisible to sighted users */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
